body{
    font: 12px "Microsort YaHei","微软雅黑";
    height:2000px;
}

.header{
}

.topBar{
    height: 31px;
    background: #F7F7F7;
}

.topBar a{
    color: #656565;
}

.comWidth{
    width: 1000px;
    margin: 0 auto;
    line-height: 31px;
}

.collection{
}

.a_collection{
    font:14px "Microsort YaHei","微软雅黑";
    font-weight: bold;
    background: url(img/icon/collection.jpg) no-repeat left center;
    padding-left: 20px;
}

.logit{
    width: 300px;
}

.logit a{
    padding-left: 5px;
}

.logoBar{
    background: #1D7AD9;
    height: 85px;
}

.dog{
    height: 60px;
    width: 110px;
    margin-left: 41px;
    margin-top: 13px;
}

.searchBox{
    padding-left: 185px;
    padding-top: 23px;
}

.search_text{
    height: 35px;
    width: 360px;
    padding: 0 5px;
}

.search_btn{
    height: 35px;
    width: 75px;
    background: #FF8c00;
    color: white;
    font: 14px "Microsort YaHei","微软雅黑";
}

.shopCar{
    height: 35px;
    width: 145px;
    margin-top: 23px;
    margin-right: 40px;
    background: #FF8c00;
    font: 14px/35px  "Microsort YaHei","微软雅黑";
    color: white;
}

.shopIcon{
    width: 87px;
    height: 100%;
    text-indent: 40px;
    background: url(img/icon/shopIcon.jpg) no-repeat 10px center;
    border-right:1px solid #b0b0b0;
    text-align: center;
}

.shopNum{
    width: 57px;
    height: 100%;
    text-indent: 20px;
    background: url(img/icon/shopNum.jpg) no-repeat 33px center;
}

.menuBar{
    width:100%;
    height:35px;
    background :#1369c0;
    font: 15px/35px  "Microsort YaHei","微软雅黑";
    color: white;
}

.menuCy{
    height: 35px;
    width: 190px;
    text-align: center;
}

.menuBar dt{
    float: left;
    height: 35px;
    width: 112px;
}

.current{
    background: #4593Fd;
}







