*{
    padding:0;
    border:0;
    margin:0;
}

li,dd,dl,dt{
    list-style-type:none;
}

i{
    font-style: normal;
}


a,h4{
    text-decoration: none;
    color: black;
}

input,select{
    outline: none;
    border: none;
    /*ie6兼容*/background: none;
}


.fl{float: left}
.fr{float: right}

.clear{
    clear: both;
    display: block;
}



